/* Reseteo */
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0; }

h1 {
  color: rgba(231, 7, 7, 0.658);
  text-align: center;
  padding: 50px;
  text-decoration: underline; }

.seccion-index-1 {
  max-width: 1000px;
  margin: auto;
  padding: 30px 0; }

.seccion-index-2 {
  max-width: 1000px;
  margin: auto; }

.seccion-index-3 {
  max-width: 1000px;
  margin: auto;
  padding: 30px 0; }

.marcas {
  padding: 40px 0; }

.slider {
  width: 70vw;
  margin: auto;
  overflow: hidden; }

.slider img {
  height: 80px; }

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(75px * 18); }

.slider .slide {
  width: 75px; }

.slider .slide img {
  width: 100%; }

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(calc(-75px * 9));
    transform: translateX(calc(-75px * 9)); } }

.footer-index {
  background-color: #ffc107;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: auto; }
  .footer-index h3 {
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    padding-top: 30px; }
  .footer-index a {
    text-decoration: none;
    color: black;
    font-size: 12px; }
  .footer-index ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 20px; }

.fa-brands {
  font-size: 30px;
  padding-bottom: 10px; }

.redes {
  display: flex;
  width: 300px;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px; }

.titulo-redes {
  padding-bottom: 20px; }

.seccion-1-procesador {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 400px);
  grid-template-areas: "img-grande img-grande img-1 img-2" "img-grande img-grande img-3 img-4";
  margin: auto; }

.img-grande {
  grid-area: img-grande;
  background-image: url("/resoures/intel.png");
  background-size: cover; }

.img-1 {
  grid-area: img-1;
  background-image: url("/resoures/intel-i3.png");
  background-size: cover; }

.img-2 {
  grid-area: img-2;
  background-image: url("/resoures/intel-i5.png");
  background-size: cover; }

.img-3 {
  grid-area: img-3;
  background-image: url("/resoures/intel-i7.png");
  background-size: cover; }

.img-4 {
  grid-area: img-4;
  background-image: url("/resoures/intel-i9.png");
  background-size: cover; }

article {
  border: 1px solid black;
  margin: 20px;
  padding: 10px; }

.seccion-monitor-1 {
  display: flex;
  padding: 30px;
  width: 100%;
  margin: auto; }

.seccion-monitor-2 {
  display: flex;
  padding: 30px; }

.seccion-monitor-3 {
  display: flex;
  padding: 30px; }

.titulo-monitor img {
  width: 100%;
  padding-bottom: 100px; }

.seccion-monitores {
  padding: 70px, 0px, 0px, 0px; }
  .seccion-monitores h2 {
    text-align: center;
    background-color: rgba(199, 6, 173, 0.548);
    max-width: auto; }

/* Ayuda */
.titulo-ayuda h2 {
  text-align: center;
  padding: 40px;
  text-decoration: underline; }

.acordeon {
  padding: 50px; }

.ancho-acordeon {
  max-width: 1000px;
  margin: auto; }

.ancho-consultas {
  max-width: 800px;
  margin: auto;
  padding-bottom: 30px; }

/* Contacto */
.formulario {
  max-width: 800px;
  margin: 20px; }

.titulo-contacto h1 {
  text-align: center;
  margin: auto;
  padding: 30px; }

.form-control {
  border: 1px solid #2967a5;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; }

.datos {
  text-decoration: underline;
  border: 1px solid black;
  background-image: linear-gradient(yellow, orange, red);
  margin: auto;
  max-width: 500px; }

.imagen-contacto {
  width: 800px;
  height: 500px;
  margin: auto;
  display: flex;
  padding-bottom: 40px;
  padding-top: 40px; }

@media (max-width: 850px) {
  .imagen-contacto {
    max-width: 400PX;
    max-height: 300PX;
    margin: auto; } }

@media (max-width: 600px) {
  .slide-track img {
    max-height: 40px; } }

@media (max-width: 1400px) {
  .seccion-monitor-1 {
    display: flex;
    flex-wrap: wrap; }
  .seccion-monitor-2 {
    display: flex;
    flex-wrap: wrap; }
  .seccion-monitor-3 {
    display: flex;
    flex-wrap: wrap; } }

@media (max-width: 600px) {
  .titulo-monitor img {
    height: 250px; } }
