/* Ayuda */
.titulo-ayuda h2 {
    text-align: center;
    padding: 40px;
    text-decoration: underline;
}

.acordeon {
    padding: 50px;
}

.ancho-acordeon {
    max-width: 1000px;
    margin: auto;
}

.ancho-consultas {
    max-width: 800px;
    margin: auto;
    padding-bottom: 30px;
}