.seccion-1-procesador {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,400px);
    grid-template-areas:
        "img-grande img-grande img-1 img-2"
        "img-grande img-grande img-3 img-4";
        margin: auto;
}

.img-grande {
    grid-area: img-grande;
    background-image: url("/resoures/intel.png");
    background-size: cover;
    
}


.img-1 {
    grid-area: img-1;
    background-image: url("/resoures/intel-i3.png");
    background-size: cover;
}

.img-2 {
    grid-area: img-2;
    background-image: url("/resoures/intel-i5.png");
    background-size: cover;
}

.img-3 {
    grid-area: img-3;
    background-image: url("/resoures/intel-i7.png");
    background-size: cover;
}

.img-4 {
    grid-area: img-4;
    background-image: url("/resoures/intel-i9.png");
    background-size: cover;
}

article{
    border: 1px solid black;
    margin: 20px;
    padding: 10px;

}