@media(max-width:850px){
    .imagen-contacto{
        max-width: 400PX;
        max-height: 300PX;
        margin: auto;
        
    }
}

@media(max-width:600px){
    .slide-track img{
        max-height: 40px;
    }
}

@media(max-width:1400px) {
    .seccion-monitor-1 {
        display: flex;
        flex-wrap: wrap;
    }

    .seccion-monitor-2 {
        display: flex;
        flex-wrap: wrap;
    }

    .seccion-monitor-3 {
        display: flex;
        flex-wrap: wrap;
    }
}

@media(max-width:600px) {
    .titulo-monitor img {

        height: 250px;

    }
}