@media(max-width:850px) {
    .imagen-contacto {
        max-width: 400PX;
        max-height: 300PX;
        margin: auto;
    }

    .ancho-consultas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .video {
        iframe {
            max-width: 350px;

        }
    }
}

@media(max-width:600px) {
    .slide-track {
        img {
            max-height: 40px;
        }
    }


    .main-monitores {
        h1 {
            padding-bottom: 5px;
        }
    }

    .titulo-monitor {
        img {
            min-height: 250px;
        }
    }
}

@media(max-width:1400px) {
    .seccion-monitor-1 {
        display: flex;
        flex-wrap: wrap;
    }

    .seccion-monitor-2 {
        display: flex;
        flex-wrap: wrap;
    }

    .seccion-monitor-3 {
        display: flex;
        flex-wrap: wrap;
    }
}

@media(max-width:1000px) {
    .main-procesadores {
        .grilla-procesador {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    .imagen-vs {
        margin: 10px;
        height: 300px;


    }

}